# the file lives in user's home dir

[init]
        defaultBranch = main

[user]
        name = icy-comet
        email = 50461557+icy-comet@users.noreply.github.com

[color]
        ui = auto

# Convert line endings to CRLF on checkout (commit as LF) (Only for Windows)

# [core]
#       autocrlf = true
