# the file lives in the home dir

# set if needed to change NPM's default global installation directory
# also add `.npm-global/bin` to PATH if used
# refer docs >> https://docs.npmjs.com/resolving-eacces-permissions-errors-when-installing-packages-globally
prefix=/home/elliot/.npm-global
