@import "catppuccin-mocha.css";

* {
    font-family: MonoLisa Nerd Font, sans-serif;
    font-weight: 600;
    font-size: 10px;
    color: @text;
}

window#waybar {
    background: @base;
}

#workspaces {
    background: transparent;
}

#workspaces button {
    padding: 0 2px;
    border-radius: 0px;
    border: none;
}

#workspaces button:hover {
    background: @surface0;
    transition: none;
    box-shadow: inherit;
}

/* for sway */
#workspaces button.focused {
    background: @surface0;
    box-shadow: inset 0 -2px @yellow;
}

#workspaces button.focused label {
    color: @yellow;
}

/* for hyprland */
#workspaces button.active {
    background: @surface0;
    box-shadow: inset 0 -2px @yellow;
}

#workspaces button.active label {
    color: @yellow;
}

#workspaces button.urgent {
    background: @red;
}

#workspaces button.urgent label {
    color: @crust;
}

#window  {
    border-radius: 2px;
    padding: 0 8px;
    border-left: 2px solid @text;
    background: @surface0;
    margin-left: 8px;
}

#window label {
    color: @text;
}

#submap {
    padding: 0 5px;
    font-style: italic;
    background: @red;
    color: @crust;
}

#tray {
    background: @surface0;
    border-radius: 4px;
    padding: 0 5px;
}

.modules-left {
    margin-left: 8px;
}

.modules-right {
    margin-right: 7px;
}

.modules-right label {
    margin: 0px 7px;
}