@import "catppuccin-mocha.css";

* {
    font-family: MonoLisa Nerd Font, sans-serif;
    font-weight: bold;
    font-size: 10px;
    color: @text;
}

window#waybar {
    background: @blue;
}

#workspaces button {
    background: @crust;
    padding: 0 5px;
    border-radius: 0px;
    border: none;
}

#workspaces button:hover {
    background: @surface0;
    transition: none;
    box-shadow: inherit;
}

#workspaces button.focused {
    background: @surface0;
    box-shadow: inset 0 -2px @flamingo;
}

#workspaces button.urgent {
    background: @red;
}

#window label {
    color: @crust;
}

#mode {
    font-style: italic;
    background: @green;
    color: @crust;
}

#clock,
#battery,
#bluetooth,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 5px;
}

#window,
#workspaces {
    margin: 0 4px;
}

.modules-right {
    background: @crust;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}