@import "catppuccin-mocha.css";

/* Reset */
* {
  border: none;
  padding: 0;
  margin: 0;
  min-height: 0;
  font-family: "MonoLisa Nerd Font", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: @text;
}

window#waybar {
  background: rgba(0,0,0,0);
}

#custom-osIcon,
#workspaces,
#battery,
#pulseaudio,
#network,
#clock,
#bluetooth,
#backlight,
#idle_inhibitor {
  background: @base;
}

#backlight,
#battery,
#pulseaudio,
#network,
#clock,
#bluetooth,
#submap,
#idle_inhibitor {
  padding: 0 8px;
}

#custom-osIcon {
  color: @teal;
  min-width: 35px;
  margin-right: 8px;
  padding-right: 2px;
}

/* ========================================================== */
/* █▀█ █▀█ █░█ █▄░█ █▀▄ █▀▀ █▀▄   █▀▀ █▀█ █▀█ █▄░█ █▀▀ █▀█ █▀ */
/* █▀▄ █▄█ █▄█ █░▀█ █▄▀ ██▄ █▄▀   █▄▄ █▄█ █▀▄ █░▀█ ██▄ █▀▄ ▄█ */
/* ========================================================== */
#custom-osIcon,
#workspaces,
#window,
#submap,
#clock {
  border-radius: 4px;
}

#backlight {
  border-radius: 4px 0 0 4px;
}

#network {
  border-radius: 0 4px 4px 0;
}

/* ================================================================== */
/* █░█░█ █▀█ █▀█ █▄▀ █▀ █▀█ ▄▀█ █▀▀ █▀▀ █▀   ▀█▀ █░█░█ █▀▀ ▄▀█ █▄▀ █▀ */
/* ▀▄▀▄▀ █▄█ █▀▄ █░█ ▄█ █▀▀ █▀█ █▄▄ ██▄ ▄█   ░█░ ▀▄▀▄▀ ██▄ █▀█ █░█ ▄█ */
/* ==---============================================================= */
#workspaces {
  padding: 3px 4px;
}

#workspaces button {
  padding: 2px 1px;
  margin: 0px 2px;
}

#workspaces button label {
  color: @overlay2;
}

#workspaces button.active label {
  color: @yellow;
}

#workspaces button:hover {
  background: @base;
  box-shadow: inherit;
}

#workspaces button:hover label {
  color: @peach;
}

#workspaces button.urgent label {
  color: @red;
}


/* ================================================== */
/* █▀▀ █▀█ █░░ █▀█ █▀█   █▀ █▀▀ ▀█▀ ▀█▀ █ █▄░█ █▀▀ █▀ */
/* █▄▄ █▄█ █▄▄ █▄█ █▀▄   ▄█ ██▄ ░█░ ░█░ █ █░▀█ █▄█ ▄█ */
/* ================================================== */
#submap {
    background: @red;
    color: @base;
}

#clock {
  color: @pink;
}

#bluetooth {
  color: @peach;
}

#backlight {
  color: @yellow;
}

#battery {
  color: @sky;
}

#battery.critical {
  color: @red;
}

#pulseaudio {
  color: @green;
}

#network {
  color: @mauve;
}

#idle_inhibitor {
  color: @overlay2;
}

#idle_inhibitor.activated {
  color: @maroon;
}